<a href="https://colab.research.google.com/github/tiidadavena/introDS/blob/master/Aula_01_Intro_a_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ('Olá, mundo!')

Olá, mundo!

In [ ]:
frase =  "Python para análise de dados"

In [ ]:
frase[0]

'P'

In [ ]:
frase[0:10]

'Python par'

In [ ]:
frase.count("dados")

1

In [ ]:
frase[:17]

'Python para análi'

In [ ]:
#Colocando todas as letras para maiúscula
frase.lower()

'python para análise de dados'

In [ ]:
frase.replace("Python", "frases")

'frases para análise de dados'

# **Estrutura de dados**

In [ ]:
#lista
animais = [1,2,3]
animais

[1, 2, 3]

In [ ]:
animais = ["cachorro","Gato", 12345, 8.5]

In [ ]:
animais[3]

8.5

In [ ]:
animais[0] = "Papagaio"
animais

['Papagaio', 'Gato', 12345, 8.5]

In [ ]:
#Removendo gato da lista
animais.remove("Gato")

In [ ]:
animais

['Papagaio', 12345, 8.5]

In [ ]:
len(animais)

3

In [ ]:
#Como saber se um item está na lista
"Gato" in animais

False

In [ ]:
lista = [500,30,300,80,10]

In [ ]:
max(lista)

500

In [ ]:
min(lista)

10

In [ ]:
animais.append("Leão")
animais

['cachorro', 'Gato', 12345, 8.5, 'Leão']

In [ ]:
animais.extend(["Cobra", 6])
animais

['cachorro', 'Gato', 12345, 8.5, 'Leão', 'Cobra', 6]

In [ ]:
#Ordenando os elementos em ordem crescente
lista.sort()
lista

[10, 30, 80, 300, 500]

#**Tuplas**

In [ ]:
#As tuplas são imutáveis
tp = ("Banana", "Maçã", 10, 50)

#**Dicionário**

In [ ]:
#Cada elemento é baseado no conceito de chave-valor

In [ ]:
dc = {"Maçã":120, "Banana":10, "Laranja":15, "Uva": 5}

In [ ]:
dc

{'Banana': 10, 'Laranja': 15, 'Maçã': 120, 'Uva': 5}

In [ ]:
#Acessando o valor do dicionário através do valor da chave
dc["Maçã"]

120

In [ ]:
#Atualizando o valor da Maçã
dc["Maçã"] = 25
dc

{'Banana': 10, 'Laranja': 15, 'Maçã': 25, 'Uva': 5}

In [ ]:
#Retornando todas as chaves do dicionário
dc.keys()

dict_keys(['Maçã', 'Banana', 'Laranja', 'Uva'])

In [ ]:
#Retornando todos os valores do dicionário
dc.values()

dict_values([25, 10, 15, 5])

In [ ]:
dc.setdefault("Limão", 22)
dc

{'Banana': 10, 'Laranja': 15, 'Limão': None, 'Maçã': 25, 'Uva': 5}

#**Estruturas condicionais **

In [ ]:
if 10 > 20:
  print("Verdadeiro")
else:
  print("Falso")

Falso

In [ ]:
nome = "Fernanda"
if 10 > 20 or nome == "Fernanda":
  print("Olá Fernanda, seja bem-vinda")
else:
  print("Você não é Fernanda")

Olá Fernanda, seja bem-vinda

In [ ]:
nome = "Fernanda"
if 10 > 20 and nome == "Fernanda":
  print("Olá Fernanda, seja bem-vinda")
else:
  print("Você não é Fernanda")

Você não é Fernanda

In [ ]:
#A instrução elif é acionada caso a instrução IF seja falsa
# "e senão se"
valor = 150

In [ ]:
if valor > 200: 
  print ("Ok valor que 100")
elif valor > 50: 
  print("Valor maior que 50")
elif valor > 40:
  print("Outra mensagem")
else:
  print("Operação inválida: valores devem ser maiores que 50")

Valor maior que 50

In [ ]:
for i in [1,2,3,4,5]:
  print("Valor: {}".format(i))
  print (i +2)

Valor: 1
3
Valor: 2
4
Valor: 3
5
Valor: 4
6
Valor: 5
7

In [ ]:
for caracter in "Analisando dados com python":
  print(caracter)

A
n
a
l
i
s
a
n
d
o

d
a
d
o
s

c
o
m

p
y
t
h
o
n

In [ ]:
automoveis = ["Ferrari", "Volkswagen", "BMW"]
for carro in automoveis:
  print (carro)

Ferrari
Volkswagen
BMW

In [ ]:
for letra in "Python":
  if letra == "o":
    break
  print("Letra", letra) 
print("\n\nContinuando o programa...")

Letra P
Letra y
Letra t
Letra h


Continuando o programa...

# Trabalhando com planilhas do Excel

---

In [ ]:
from google.colab import files
arquivo =  files.upload()

Trabalhando com a biblioteca Pandas

In [ ]:
import pandas as pd

In [17]:
df1 = pd.read_excel("/Natal.xlsx")
df2 = pd.read_excel("/Recife.xlsx")
df3 = pd.read_excel("/Fortaleza.xlsx")
df3.head(10)

      Cidade       Data  Vendas  LojaID  Qtde
0  Fortaleza 2019-01-01   45.27    1002     2
1  Fortaleza 2019-01-01  115.61    1002     3
2  Fortaleza 2019-02-10   35.33    1004     3
3  Fortaleza 2019-02-10   20.95    1004     6
4  Fortaleza 2019-01-01   14.25    1004     6
5  Fortaleza 2019-01-01   37.30    1002     5
6  Fortaleza 2019-01-01   38.40    1003     4
7  Fortaleza 2019-02-11   35.50    1003     2
8  Fortaleza 2019-02-11   37.49    1005     1
9  Fortaleza 2019-01-01   11.17    1002     6

In [18]:
#Concatenar os arquivos
df = pd.concat([df1, df2, df3])

In [19]:
#Visualizando as 5 primeiras linhas 
df.head()

  Cidade       Data  Vendas  LojaID  Qtde
0  Natal 2018-08-27   606.0     853     2
1  Natal 2018-11-25   563.0     853     2
2  Natal 2019-03-11   308.0     852     3
3  Natal 2019-01-07   271.0     854     3
4  Natal 2019-03-09   699.0     853     3

In [20]:
#Visualizando as 5 últimas linhas
df.tail()

        Cidade       Data  Vendas  LojaID  Qtde
137  Fortaleza 2019-03-02   51.99     983     3
138  Fortaleza 2019-03-02  150.38     983     6
139  Fortaleza 2019-03-02  141.16     980     7
140  Fortaleza 2019-03-02  166.89     983     5
141  Fortaleza 2019-03-02  182.75     983     8

In [21]:
#Visualizando os valores únicos de cada cidade
df["Cidade"].unique()

array(['Natal', 'Recife', 'Fortaleza'], dtype=object)

In [22]:
#Visualizando o número de linhas e colunas, respectivament: shape (atributo) não é um método, por isso não aceita argumentos de entrada
df.shape

(524, 5)

In [23]:
 df.sample(5)

     Cidade       Data  Vendas  LojaID  Qtde
108   Natal 2019-01-02   11.72    1037     1
5     Natal 2019-03-30  674.00     854     2
136  Recife 2019-03-02   39.09     982     4
129   Natal 2019-01-02  125.66    1037     1
85   Recife 2019-01-01  182.52     983     1

In [24]:
#Apagando o index do arquivo original
df =  df.reset_index()

In [25]:
df.head(30)

    index Cidade       Data  Vendas  LojaID  Qtde
0       0  Natal 2018-08-27   606.0     853     2
1       1  Natal 2018-11-25   563.0     853     2
2       2  Natal 2019-03-11   308.0     852     3
3       3  Natal 2019-01-07   271.0     854     3
4       4  Natal 2019-03-09   699.0     853     3
5       5  Natal 2019-03-30   674.0     854     2
6       6  Natal 2018-07-02   322.0     852     4
7       7  Natal 2019-03-18   886.0     853     4
8       8  Natal 2019-03-27   667.0     852     4
9       9  Natal 2018-05-02   261.0     852     3
10     10  Natal 2018-10-27   828.0     852     4
11     11  Natal 2019-02-09   564.0     853     3
12     12  Natal 2019-02-02   709.0     853     3
13     13  Natal 2018-09-12   458.0     852     4
14     14  Natal 2018-06-03   660.0     853     3
15     15  Natal 2018-02-01   432.0     854     3
16     16  Natal 2018-07-01   298.0     854     3
17     17  Natal 2018-02-18   276.0     854     3
18     18  Natal 2019-03-14   581.0     853     3
19     19  Natal 2019-03-31   282.0     854     2
20     20  Natal 2018-06-08   608.0     852     4
21     21  Natal 2019-02-08   679.0     853     2
22     22  Natal 2018-06-21   621.0     853     3
23     23  Natal 2019-02-14   304.0     854     3
24     24  Natal 2018-04-22   868.0     854     3
25     25  Natal 2019-01-13   611.0     852     2
26     26  Natal 2018-07-20   370.0     853     3
27     27  Natal 2018-07-16   390.0     853     3
28     28  Natal 2019-02-13   705.0     853     2
29     29  Natal 2019-03-09   646.0     854     2

In [29]:
#Verificando o tipo de dado de cada coluna
df.dtypes

index              int64
Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [31]:
#Alterando o tipo de dado de uma coluna
df['LojaID'] = df['LojaID'].astype("object")
df.dtypes

index              int64
Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

In [32]:
#Consultando linhas com valores faltantes
df.isnull().sum()

index     0
Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [34]:
#Substituindo os valores nulos pela média 
# df["Idade"].fillna(df["Idade"].mean(), inplace=True)

In [36]:
df["Vendas"].mean()

153.48772900763362

In [37]:
df.Vendas.mean()

153.48772900763362

In [40]:
#Apagando as linhas com valores nulos
# df.dropna(inplace=True)

In [41]:
#Apagando as linhas com valores nulos com base em apenas uma coluna
# df.dropna(subset=["Vendas"], inplace=True)

In [42]:
#Removendo linhas que estejam com valores faltantes em todas as colunas
# df.dropna(how= "all", inplace=True)

In [43]:
#Criando colunas novas
df["Receita"] = df["Vendas"].mul(df["Qtde"])

In [44]:
df.head()

   index Cidade       Data  Vendas LojaID  Qtde  Receita
0      0  Natal 2018-08-27   606.0    853     2   1212.0
1      1  Natal 2018-11-25   563.0    853     2   1126.0
2      2  Natal 2019-03-11   308.0    852     3    924.0
3      3  Natal 2019-01-07   271.0    854     3    813.0
4      4  Natal 2019-03-09   699.0    853     3   2097.0

In [45]:
df["Receita/Vendas"] = df["Receita"]/df["Vendas"]
df.head()

   index Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
0      0  Natal 2018-08-27   606.0    853     2   1212.0             2.0
1      1  Natal 2018-11-25   563.0    853     2   1126.0             2.0
2      2  Natal 2019-03-11   308.0    852     3    924.0             3.0
3      3  Natal 2019-01-07   271.0    854     3    813.0             3.0
4      4  Natal 2019-03-09   699.0    853     3   2097.0             3.0

In [47]:
# Retornando a maior receita
df["Receita"].max()

3544.0

In [48]:
#A menor receita
df["Receita"].min()

4.01

In [49]:
#Top 3 receita
df.nlargest(3,"Receita")

    index Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
7       7  Natal 2019-03-18   886.0    853     4   3544.0             4.0
51     51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
55     55  Natal 2019-01-08   859.0    854     4   3436.0             4.0

In [50]:
#Retornando as 03 piores receitas
df.nsmallest(3, "Receita")

     index  Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
305     65  Recife 2019-01-01    4.01    981     1     4.01             1.0
92      92   Natal 2019-01-02    4.57   1035     1     4.57             1.0
95      95   Natal 2019-01-02    5.13   1035     1     5.13             1.0

In [51]:
#Agrupamento por cidade
df.groupby("Cidade")["Receita"].mean()

Cidade
Fortaleza    266.999789
Natal        696.781333
Recife       365.750070
Name: Receita, dtype: float64

In [52]:
df.groupby("Cidade")["Receita"].sum()

Cidade
Fortaleza     37913.97
Natal        167227.52
Recife        51936.51
Name: Receita, dtype: float64

In [53]:
#Ordenando o conjunto de dados
df.sort_values("Receita", ascending= False).head(10)

    index Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
7       7  Natal 2019-03-18   886.0    853     4   3544.0             4.0
51     51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
55     55  Natal 2019-01-08   859.0    854     4   3436.0             4.0
30     30  Natal 2018-10-02   856.0    853     4   3424.0             4.0
41     41  Natal 2018-05-20   835.0    852     4   3340.0             4.0
38     38  Natal 2018-02-25   828.0    852     4   3312.0             4.0
10     10  Natal 2018-10-27   828.0    852     4   3312.0             4.0
69     69  Natal 2019-03-24   817.0    852     4   3268.0             4.0
62     62  Natal 2018-02-10   793.0    854     4   3172.0             4.0
52     52  Natal 2018-04-27   778.0    854     4   3112.0             4.0