<a href="https://colab.research.google.com/github/tiidadavena/introDS/blob/master/Aula_04_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importando as bibliotecas
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
iris = pd.read_csv("iris.csv")

In [3]:
iris.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth      Species
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [4]:
#Verificando os valores únicos das colunas
iris["Species"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [6]:
iris.sample(5)

     SepalLength  SepalWidth  PetalLength  PetalWidth          Species
55           5.7         2.8          4.5         1.3  Iris-versicolor
69           5.6         2.5          3.9         1.1  Iris-versicolor
135          7.7         3.0          6.1         2.3   Iris-virginica
116          6.5         3.0          5.5         1.8   Iris-virginica
147          6.5         3.0          5.2         2.0   Iris-virginica

In [7]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  150 non-null    float64
 1   SepalWidth   150 non-null    float64
 2   PetalLength  150 non-null    float64
 3   PetalWidth   150 non-null    float64
 4   Species      150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [8]:
#Valores estatísticos
iris.describe()

       SepalLength  SepalWidth  PetalLength  PetalWidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667
std       0.828066    0.433594     1.764420    0.763161
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

In [9]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [23]:
#Não será inclusa a coluna de Species pois esta é o gabarito da classificação e separando 30% da base para treino
X_train, X_test, y_train, y_test = train_test_split(iris.drop("Species", axis = 1), iris["Species"], test_size = 0.3, random_state = 0)

In [25]:
X_train.shape, X_test.shape

((105, 4), (45, 4))

In [26]:
y_train.shape, y_test.shape

((105,), (45,))

In [27]:
#Instanciando o algoritmo
knn =  KNeighborsClassifier(n_neighbors= 3)

In [28]:
#Treinando a máquina com o comando "fit"
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [29]:
#Testando a rede
resultado = knn.predict(X_test)

In [30]:
resultado

array(['Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica', 'Iris-setosa',
       'Iris-setosa'], dtype=object)

In [31]:
X_test.head()

     SepalLength  SepalWidth  PetalLength  PetalWidth
114          5.8         2.8          5.1         2.4
62           6.0         2.2          4.0         1.0
33           5.5         4.2          1.4         0.2
107          7.3         2.9          6.3         1.8
7            5.0         3.4          1.5         0.2

In [32]:
y_test

114     Iris-virginica
62     Iris-versicolor
33         Iris-setosa
107     Iris-virginica
7          Iris-setosa
100     Iris-virginica
40         Iris-setosa
86     Iris-versicolor
76     Iris-versicolor
71     Iris-versicolor
134     Iris-virginica
51     Iris-versicolor
73     Iris-versicolor
54     Iris-versicolor
63     Iris-versicolor
37         Iris-setosa
78     Iris-versicolor
90     Iris-versicolor
45         Iris-setosa
16         Iris-setosa
121     Iris-virginica
66     Iris-versicolor
24         Iris-setosa
8          Iris-setosa
126     Iris-virginica
22         Iris-setosa
44         Iris-setosa
97     Iris-versicolor
93     Iris-versicolor
26         Iris-setosa
137     Iris-virginica
84     Iris-versicolor
27         Iris-setosa
127     Iris-virginica
132     Iris-virginica
59     Iris-versicolor
18         Iris-setosa
83     Iris-versicolor
61     Iris-versicolor
92     Iris-versicolor
112     Iris-virginica
2          Iris-setosa
141     Iris-virginica
43         Iris-setosa
10         Iris-setosa
Name: Species, dtype: object

In [34]:
#Visualizando os resultados 
print(pd.crosstab(y_test, resultado, rownames = ["Real"], colnames=["             Predito"], margins = True))

             Predito  Iris-setosa  Iris-versicolor  Iris-virginica  All
Real
Iris-setosa                    16                0               0   16
Iris-versicolor                 0               17               1   18
Iris-virginica                  0                0              11   11
All                            16               17              12   45

In [47]:
#Criando uma amostra
teste = np.array([[7.1, 1.5, 2.4, 0.2]])
teste #Colchetes duplos pois é um array multidimensional em NumPy

array([[7.1, 1.5, 2.4, 0.2]])

In [48]:
knn.predict(teste)

array(['Iris-versicolor'], dtype=object)